[account1]
source          = maildir://~/.local/share/mail/your@email.com
outgoing        = msmtpq --read-envelope-from --read-recipients -a account1

from            = Your Name <your@email.com>
cache-headers   = true

default         = INBOX
copy-to         = Sent

folders         = INBOX,Archive,Trash,Sent,Drafts,Spam
folders-sort    = INBOX,Archive,Drafts,Sent,Trash,Spam
