defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.local/share/msmtp/msmtp.log

account        account1
host           smtp.example.com
port           587
from           your@email.com
user           your@email.com
passwordeval   "pass mail/your@email.com"

account default : account1
