configurations:
  - host: imap.example.com
    port: 993
    tls: true
    tlsOptions:
      rejectUnauthorized: true
    username: your@email.com
    passwordCMD: "pass mail/your@email.com"
    boxes:
      - mailbox: "INBOX"
    onNewMail: "mbsync account1"
    onNewMailPost: "notify-send 'New mail' 'New message in INBOX'"
